*{
    padding: 0;
    margin:0;
    
}

body{
    margin: 0;
    position: relative; 
    
}

#container{
    width: 1200px;
    height: 1000px;
    margin: 0.5em auto;
    padding: 0.5em;
    border-style: solid;
    background-color: #3371afc2;
    
}

/*Parte superior*/


#header{
    height: 10%;
    background-color: #3371af;
    border-radius: 2em;
    margin: 1em;
    
    
}

.Logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Logo img{
    margin-left: 20px;
    padding: 5px;
    height: 90px;
    border-radius: 50%;
}



.btn{
    margin-right: 20px;
}

.btn button{
    border-radius: 20px;
    height: 50px;
    width: 100px;
}


.Logo input{
    border-radius: 20px;
    height: 50px;
    width: 800px;
    text-align: center;
}

/*Navegacion - Materias*/

#nav{
    height: 10%;
    margin: 1em;
}


#nav h2{
    text-align: center;
}

.Menu{
    text-align: center;
    
    
}

.Menu label {
    font-size: x-large;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
}

.Menu select{
    border-radius: 20px;
    height: 30px;
    width: 400px;
    text-align: center;
    background-color: rgb(151, 166, 170) ;
}


.Fecha{
    text-align:center;
    padding: 15px;
    position:absolute;
    right: 50%;
}

h3{
    display:inline-block;
}


.Mesa{
    text-align:center;
    padding: 15px;
    position:absolute;
    left: 50%;
}






/* caja contenedora - tabla y opciones */


#contenido{
    height: 40%;
    padding: 30px;
    
}


/* tabla*/


#section{
    height: 100%;
    width: 65%;
    float: right;
    margin-right: 0.5em;
    position: relative;
}


table{
    width: 100%;
    border-collapse: collapse;
    border: none;
}


table th{
    width: 30%;
    padding: 2em;
}

td{
    height: 30px;
    width: 400px;
    text-align: center;
}

td input{
    height: 20px;
    width: 150px;
    text-align: center;
    background-color: rgb(151, 166, 170);
    border-radius: 20px;
}


td select{
    height: 20px;
    width: 150px;
    text-align: center;
    background-color: rgb(151, 166, 170);
    border-radius: 20px;
}



    .Boton button{
    border-radius: 10px;
    height: 40px;
    width: 150px;
    position:absolute;
    background-color:#3371af;
    top: 50%;
    left: 40%;
}



/* OPCIONES LATERALES*/



#aside{
    height: 100%;
    background-color:rgb(151, 166, 170);
    border-radius: 2em;
    float: left;
    margin-left:0.5em ;
}


a{
    display: block;
    margin: 20px;
    text-align: center;
    color: black;
    text-decoration: none;
}

a i{
    margin: 3px;
}








/*PARTE INFERIOR- LOGO ISE*/




#footer{
    position: absolute;
    bottom: 0;
    padding: 10px;
    width: 1200px;
    align-items: center;
    display: flex;
    justify-content: center;
}







